*~
*.tar.*
*.html
.images_uploaded
*.pyc

config.status
files-*

target/
root/
python/build/
python/javapackages.egg-info/
python/javapackages/version.py
test/nosetests.xml
test/coverage.xml
test/.coverage
doc/images/xmvn.svg
doc/doc

test/.workdir/
test/.script.py

.vagrant/
